# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
dataset/
# Environment variables
.env

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/
