flask
pandas
scikit-learn
numpy
langchain
openai
chains
langchain-community
faiss-cpu
langchain-openai
sentence-transformers
langchain-huggingface
joblib
guardrails-ai
torch
torchvision
flask-cors
dateparser
Pillow
