flask
requests
pandas
tensorflow
scikit-learn
h5py
python-dotenv
numpy
langchain
openai
chains
langchain-community
tiktoken 
faiss-cpu
langchain-openai
sentence-transformers
unstructured
langchain-huggingface
mlflow
joblib
guardrails-ai
torch
torchvision
seaborn
